<section class="note-card">
  <!-- TÍTULO EDITABLE -->
  <input
    class="note-title-input"
    type="text"
    placeholder="Título de la nota"
    [value]="nota()?.title | uppercase"
    #titleInput
    (input)="cambiarTituloNota(titleInput.value, nota()!.id)"
  />

  <!-- CONTENIDO EDITABLE -->
  <textarea
    class="note-content-input"
    placeholder="Escribe tu nota aquí..."
    rows="4"
    #contentInput
    (input)="cambiarContenidoNota(contentInput.value, nota()!.id)"
  >{{ nota()?.content }}</textarea>

  <div class="note-date">
    {{ nota()?.date | date:'short' }}
  </div>
</section>
